<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="Audius Live">
      <%= assigns[:page_title] %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-black antialiased min-h-screen max-h-screen overflow-hidden">
    <%= @inner_content %>
    <div id="loader" class="absolute inset-0 bg-black z-50 opacity-100 transition-opacity duration-500 ease-in-out">
      <div class="flex items-center justify-center h-full">
        <div class="flex flex-col items-center">
          <img
            class="h-64 w-auto"
            src="https://cdn.dexterslab.sh/audiuslive/assets/images/atv.png"
            alt="Audius.live"
          />
          <span class="loader mt-12"></span>
        </div>
      </div>
    </div>
    <%!-- <header class="absolute inset-x-0 top-0 z-40">
      <nav class="flex items-center justify-between p-6 lg:px-8">
        <div class="hidden lg:flex lg:gap-x-12">
          <img
            class="h-12 w-auto"
            src="https://dl.dropboxusercontent.com/s/rnfbn1qi63ub1xv/Stacked_White%402x.png?dl=1"
            alt="Audius.live"
          />
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="#" class="text-sm font-bold leading-6 text-white">
            LOGIN
          </a>
        </div>
      </nav>
    </header> --%>
  </body>
</html>
