[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
moviepy = "~=2.0.0dev"
numpy = "*"
requests = "*"
pyopengl = "*"
opencv-python = "*"
erlport = "*"
textblob = "*"
pytesseract = "*"

[dev-packages]

[requires]
python_version = "3.10"
